Repository ziggybadans/dnd-character-builder: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
    patch:
      default:
        target: 80%
        threshold: 2%

flags:
  frontend:
    paths:
      - frontend/
    carryforward: true
  backend:
    paths:
      - backend/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

ci: update workflow triggers to run on main, staging, and develop branches
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

chore: configure pre-commit hooks with project style guidelines
  .pre-commit-config.yaml
Due: none

docs: add comprehensive pull request template
  .github/pull_request_template.md
Due: none

ci: add dependency review workflow
  .github/workflows/dependency-review.yml
Due: none

ci: enhance workflow configurations with environment-specific settings
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

test: improve test coverage and infrastructure
  backend/logs/app.log
  frontend/jest.config.ts
  frontend/src/setupTests.ts
  pytest.ini
  requirements-dev.txt
  requirements.txt
  tests/conftest.py
  tests/integration/test_database.py
  tests/unit/test_error_handlers.py
  tests/unit/test_health.py
  tests/unit/test_logger.py
Due: frontend, backend

chore: resolve merge conflict in jest.config.ts
  frontend/jest.config.ts
Due: frontend

ci: Configure Codecov integration for all environments
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
  codecov.yml
Due: none

feat: Add Codecov integration with GitHub Actions
  .github/workflows/codecov.yml
  codecov.yml
Due: none

fix: Add ts-node dependency for frontend coverage
  .github/workflows/codecov.yml
Due: none

fix: Add ts-jest dependency for frontend tests
  frontend/package-lock.json
  frontend/package.json
Due: frontend

fix: Add ts-jest to CI workflow for frontend tests
  .github/workflows/codecov.yml
Due: none

fix: setup frontend tests with TextEncoder polyfill and fix React Query config
  .github/workflows/frontend-ci.yml
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/__mocks__/fileMock.ts
  frontend/src/__tests__/unit/App.test.tsx
  frontend/src/setupTests.ts
Due: frontend

feat: add Vercel deployment configuration and workflow
  .github/workflows/deploy-dev.yml
  .gitignore
  vercel.json
Due: none

feat: update deployment config for staging and production environments
  .github/workflows/deploy-dev.yml
  vercel.json
Due: none

feat: update CI workflows to run on all relevant branches
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

fix: update CI workflows and add mypy configuration
  .github/workflows/frontend-ci.yml
  backend/setup.cfg
Due: backend

fix: update ESLint configuration for newer version
  frontend/package.json
Due: frontend

fix: update ESLint configuration to use new flat config format
  backend/logs/app.log
  frontend/eslint.config.js
  frontend/package.json
Due: frontend, backend

fix: update ESLint configuration for test and browser environments
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
Due: frontend

fix: update CI workflows to use Codecov token and make coverage optional
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

fix: add type annotations and format backend code
  app.db
  backend/app/config.py
  backend/app/database.py
  backend/app/main.py
  backend/tests/unit/test_health.py
Due: backend

fix: update backend settings and type annotations
  backend/app/config.py
  backend/app/database.py
  backend/app/main.py
  backend/logs/app.log
Due: backend

fix: rename CI job names to be more descriptive and unique
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

test: improve test coverage for database, error handlers, and main modules
  backend/logs/app.log
  backend/tests/unit/test_database.py
  backend/tests/unit/test_error_handlers.py
  backend/tests/unit/test_main.py
Due: backend

style: format test files with black and isort
  backend/tests/unit/test_database.py
  backend/tests/unit/test_error_handlers.py
  backend/tests/unit/test_main.py
Due: backend

docs: add code style workflow section to contributing guidelines
  .github/contributing.md
Due: none

fix: update database tests to properly check session state
  .github/contributing.md
  backend/logs/app.log
  backend/tests/unit/test_database.py
  backend/tests/unit/test_error_handlers.py
  backend/tests/unit/test_main.py
Due: backend

fix: Update pre-commit hooks and fix type issues. Closes #1
  .gitattributes
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/contributing.md
  .github/pull_request_template.md
  .github/workflows/codecov.yml
  .gitignore
  .gitmessage
  .pre-commit-config.yaml
  HISTORY.md
  README.md
  SOURCEBOOK_INFO.md
  SOURCEBOOK_SCHEMA.md
  TECHNICAL_OUTLINE.md
  backend/alembic/env.py
  backend/app/main.py
  backend/setup.cfg
  backend/tests/unit/test_database.py
  backend/tests/unit/test_error_handlers.py
  backend/tests/unit/test_main.py
  codecov.yml
  frontend/.eslintrc.json
  frontend/.prettierrc
  frontend/eslint.config.js
  frontend/index.html
  frontend/src/main.tsx
  frontend/src/setupTests.ts
  frontend/src/utils/theme.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  pyproject.toml
  vercel.json
Due: frontend, backend

fix: Use specific type ignore codes for FastAPI decorators
  backend/app/main.py
  backend/setup.cfg
Due: backend

fix: Update mypy configuration for FastAPI compatibility
  .pre-commit-config.yaml
  backend/setup.cfg
Due: backend

chore: configure dependabot to target staging branch
  .github/dependabot.yml
Due: none

chore: added python-multipart docs
  PYTHON-MULTIPART_CHANGELOG.md
Due: none

chore: update Black to 24.3.0 Update Black formatter to latest version in both requirements.txt and pre-commit config for security fixes and improved f-string handling
  .pre-commit-config.yaml
  backend/requirements.txt
Due: backend

docs: simplify contributing and pr templates
  .github/contributing.md
  .github/pull_request_template.md
Due: none

fix: add remaining type ignore comments for mypy
  backend/tests/unit/test_health.py
  backend/tests/unit/test_main.py
Due: backend

fix: update TestClient initialization in tests
  backend/tests/unit/test_health.py
  backend/tests/unit/test_main.py
Due: backend

fix: address security vulnerabilities
  app.db
  backend/data/dnd_character_builder.db
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
Due: frontend, backend

fix: address GitHub Actions security issues
  .github/workflows/backend-ci.yml
  .github/workflows/codecov.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/frontend-ci.yml
Due: none

fix: resolve test and type checking warnings
  .pre-commit-config.yaml
  backend/app/database.py
  backend/mypy.ini
  backend/tests/unit/test_error_handlers.py
Due: backend
